/* CSS */
::-webkit-scrollbar {
    width: 5px; /* Width of the scrollbar */
}

::-webkit-scrollbar-track {
    background: white; /* Track color */
}

::-webkit-scrollbar-thumb {
    background: black;
}

::-webkit-scrollbar-thumb:hover {
    background: #555; /* Thumb color on hover */
}
